.DS_Store
*.pyc

#IDEA specific
.idea/
*.iws
*.iml

# Project specific
*/logs
*/*/logs
*.caffemodel
data/
*/*/output
*/*/logs
lib/caffe_model/__pycache__/
lib/core/__pycache__/
lib/layers/__pycache__/
lib/rpn/__pycache__/
